
@charset "UTF-8";

/* Reset | Based on http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, button, select{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    font-family: 'Effra', helvetica, arial, sans-serif;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}

.wz-selectable, input, textarea, [contentEditable], [contentEditable] *{
    cursor: text;
    outline: none;
}

.wz-unselectable{
    cursor: default;}

[contentEditable] *{
    font-family: inherit;
    color: inherit;
}

link{
    height: 0;
    display: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

b {
    font-weight: bold;
}

ol, ul {
    list-style: none;
}

hr{
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

textarea{
    resize: none;
}

audio{
    display: none;
    height: 0;
}

/* Font Face */
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Lato';
    src: url('https://static.inevio.com/font/lato_200.eot');
    src: url('https://static.inevio.com/font/lato_200.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/lato_200.woff') format('woff'),
         url('https://static.inevio.com/font/lato_200.ttf') format('truetype'),
         url('https://static.inevio.com/font/lato_200.svg#lato_200regular') format('svg');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Lato';
    src: url('https://static.inevio.com/font/lato_400.eot');
    src: url('https://static.inevio.com/font/lato_400.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/lato_400.woff') format('woff'),
         url('https://static.inevio.com/font/lato_400.ttf') format('truetype'),
         url('https://static.inevio.com/font/lato_400.svg#lato_400regular') format('svg');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Lato';
    src: url('https://static.inevio.com/font/lato_700.eot');
    src: url('https://static.inevio.com/font/lato_700.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/lato_700.woff') format('woff'),
         url('https://static.inevio.com/font/lato_700.ttf') format('truetype'),
         url('https://static.inevio.com/font/lato_700.svg#lato_700regular') format('svg');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Effra';
    src: url('https://static.inevio.com/font/effra_400.eot');
    src: url('https://static.inevio.com/font/effra_400.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/effra_400.woff') format('woff'),
         url('https://static.inevio.com/font/effra_400.ttf') format('truetype'),
         url('https://static.inevio.com/font/effra_400.svg#effra_400regular') format('svg');
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Effra';
    src: url('https://static.inevio.com/font/effra_200.eot');
    src: url('https://static.inevio.com/font/effra_200.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/effra_200.woff') format('woff'),
         url('https://static.inevio.com/font/effra_200.ttf') format('truetype'),
         url('https://static.inevio.com/font/effra_200.svg#effra_200regular') format('svg');
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Effra';
    src: url('https://static.inevio.com/font/effra_500.eot');
    src: url('https://static.inevio.com/font/effra_500.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/effra_500.woff') format('woff'),
         url('https://static.inevio.com/font/effra_500.ttf') format('truetype'),
         url('https://static.inevio.com/font/effra_500.svg#effra_500regular') format('svg');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Effra';
    src: url('https://static.inevio.com/font/effra_700.eot');
    src: url('https://static.inevio.com/font/effra_700.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/effra_700.woff') format('woff'),
         url('https://static.inevio.com/font/effra_700.ttf') format('truetype'),
         url('https://static.inevio.com/font/effra_700.svg#effra_700regular') format('svg');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans';
    src: url('https://static.inevio.com/font/opensans_400.eot');
    src: url('https://static.inevio.com/font/opensans_400.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/opensans_400.woff') format('woff'),
         url('https://static.inevio.com/font/opensans_400.ttf') format('truetype'),
         url('https://static.inevio.com/font/opensans_400.svg#opensans_400regular') format('svg');
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Open Sans';
    src: url('https://static.inevio.com/font/opensans_200.eot');
    src: url('https://static.inevio.com/font/opensans_200.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/opensans_200.woff') format('woff'),
         url('https://static.inevio.com/font/opensans_200.ttf') format('truetype'),
         url('https://static.inevio.com/font/opensans_200.svg#opensans_200regular') format('svg');
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Open Sans';
    src: url('https://static.inevio.com/font/opensans_500.eot');
    src: url('https://static.inevio.com/font/opensans_500.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/opensans_500.woff') format('woff'),
         url('https://static.inevio.com/font/opensans_500.ttf') format('truetype'),
         url('https://static.inevio.com/font/opensans_500.svg#opensans_500regular') format('svg');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Open Sans';
    src: url('https://static.inevio.com/font/opensans_700.eot');
    src: url('https://static.inevio.com/font/opensans_700.eot?#iefix') format('embedded-opentype'),
         url('https://static.inevio.com/font/opensans_700.woff') format('woff'),
         url('https://static.inevio.com/font/opensans_700.ttf') format('truetype'),
         url('https://static.inevio.com/font/opensans_700.svg#opensans_700regular') format('svg');
}
